@use './utilities' as *;

// Converts map to JSON notation so it can be used in JS
@function json-stringify ($map) {
    $result: '{';
  
    @each $key, $value in $map {
      $result: $result + '"#{$key}":';
  
      @if type-of($value) == 'map' {
        $result: $result + json-stringify($value);
      } @else {
        $result: $result + '"#{$value}"';
      }
  
  
      @if index($map, ($key $value)) != length($map) {
        $result: $result + ',';
      }
    }
  
    $result: $result + '}';
  
    @return $result;
  }

// Passes variables from CSS to JS.
:export {
    mediaBreakpoints: json-stringify($breakpoints);
}