@keyframes error-email {
    0% {
        visibility: hidden;
        transform: translateX(0);
        opacity: 0;
    }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { 
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }
}

@keyframes shimmer-effect {
    to {
       background-position-x: 0%
    }
}