@use '../utilities' as *;

.media-showcase {
    $root: &;
    margin-top: 3rem;

    &__title {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 1.5rem;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        gap: 2rem;
        
        @include breakpoint('md') {
            padding-right: 2rem;
        }
    }

    &__item {
        position: relative;
        width: 100%;
        aspect-ratio: 16 / 9;
    }
    
    &__item-cta {
        position: relative;
        display: grid;
        background-image: url('/assets/temporary.jpg');
        background-size: 100%;
        background-position: center;
        padding: 1.5rem;
        height: 100%;
        text-decoration: none;
        border-radius: 8px;
        transition: background-size 350ms ease-in-out;

        @include breakpoint('md') {
            &:hover {
                background-size: 110%;

                #{$root}__more {
                    opacity: 1;
                    transform: translate(-50%, -50%) scale(1);
                }
            }
        }

        &:focus-visible {
            outline: none;
            background-size: 110%;

            #{$root}__details-title {
                color: hsl(var(--c-red));
            }
        }

        &::before {
            position: absolute;
            display: block;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(180deg, hsl(var(--c-white) / 0) 53%, hsl(var(--c-blue-dark)) 100%);
            pointer-events: none;
            z-index: 1;
        }
    }
    
    &__more {
        position: absolute;
        display: flex;
        align-items: center;
        top: 2rem;
        left: 2rem;
        gap: 0.5rem;
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.7);
        pointer-events: none;
        background-color: hsl(var(--c-white) / 0.2);
        border-radius: 40px;
        padding: 0.3rem;
        transition: opacity 350ms ease-in-out,
                    transform 350ms ease-in-out;
        z-index: 1;

        &::before {
            content: "\f06e";
            font-family: 'Font Awesome 6 Free';
            font-weight: 400;
            font-size: 1.5rem;
        }
    }

    &__details {
        align-self: end;
        display: grid;
        gap: 0.1rem;
        z-index: 1;
    }

    &__details-desc {
        display: flex;

        span {
            display: inline-flex;
            align-items: center;

            &:not(:last-of-type) {
                &::after {
                    position: relative;
                    display: inline-block;
                    content: '';
                    width: 3px;
                    height: 3px;
                    background-color: hsl(var(--c-white) / 0.75);
                    margin-inline: 0.5rem;
                    border-radius: 50%;
                }
            }

            img {
                padding-right: 0.375rem;
            }
        }
    }

    &__details-title {
        transition: color 350ms ease-in-out;
    }

    &__user-score {
        position: absolute;
        bottom: 0;
        right: -0.5rem;
        z-index: 1;
    }

    &__pagination {
        display: flex;
        justify-content: center;
        padding-top: 3rem;
    }
    
    &__pagination-wrapper {
        display: flex;
        background-color: hsl(var(--c-blue-dark-semi));
        border-radius: 40px;
        overflow: hidden;
    }

    &__pagination-cta {
        position: relative;
        border: none;
        background-color: transparent;
        padding: 0.5rem 1rem;
        color: hsl(var(--c-white));
        font-size: 1.5rem;
        cursor: pointer;
        transition: background-color 350ms ease-in-out;

        &::before {
            content: '';
            font-family: "Font Awesome 6 Free";
            font-weight: 900;
        }

        &--prev {
            &::before {
                content: '\f0a8';
            }
        }

        &--next {
            &::before {
                content: '\f0a9';
            }
        }

        &:focus-visible {
            background-color: hsl(var(--c-red));
        }

        &:focus {
            border: none;
            outline: none;
        }

        @include breakpoint('md') {
            &:hover {
                background-color: hsl(var(--c-red));
            }
        }
    }
}