@use '../utilities' as *;

.access {
    $root: &;

    &__wrapper {
        display: grid;
        grid-template-rows: min-content;
        min-height: 100vh;

        &::before {
            position: absolute;
            content: '';
            inset: 0;
            background-image: url("/assets/home-hero.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position-x: 40%;
            opacity: 0.3;
        }
    }

    &__header {
        display: flex;
        justify-content: center;
        margin-block: clamp(3rem, 0.145rem + 12.183vw, 6rem);
        width: 100%;
        z-index: 1;
    }

    &__logo-cta {
        &:focus-visible {
            @extend %focus-visible;
        }
    }

    &__logo {
        width: 100px;
    }

    &__register {
        display: grid;
        place-items: center;
        padding-inline: 1rem;
        padding-bottom: 1rem;

        @include breakpoint('md') {
            padding-inline: 1.5rem;
            padding-bottom: 1.5rem;
        }
    }

    &__container {
        background-color: hsl(var(--c-blue-dark-semi));
        max-width: 30rem;
        width: 100%;
        border: 1px solid hsl(var(--c-blue-grayish));
        border-radius: 20px;
        padding: 2rem;
        box-shadow: 0px 0px 111px -23px hsl(var(--c-blue-light) / 0.6);
        z-index: 1;

        &.active {
            border: 1px solid hsl(var(--c-green));
        }
    }

    &__title {
        margin-bottom: 2.5rem;
        text-align: center;
    }

    &__form {
        display: grid;
        margin-bottom: 1.5rem;
    }

    &__input {
        background-color: transparent;
        border: none;
        padding: 1rem;
        caret-color: hsl(var(--c-red));
        border-bottom: 1px solid hsl(var(--c-blue-grayish) / 0.5);

        @include breakpoint('md') {
            padding: 1.25rem;
        }

        &:focus {
            outline: none;
        }
        
        &:focus-visible {
            border-bottom-color: hsl(var(--c-white));

            &::placeholder {
                opacity: 1;
            }
        }
    }

    &__info {
        text-align: center;

        br {
            @include breakpoint('sm') {
                display: none;
            }
        }
    }

    &__info-link {
        text-decoration: none;

        &:focus {
            border: none;
            outline: none;
        }

        &:focus-visible {
            text-decoration: underline;
        }

        @include breakpoint('md') {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__error {
        display: grid;
        visibility: hidden;
        padding-block: 1.25rem;
        gap: 0.25rem;

        i {
            padding-right: 0.1rem;
        }

        &.has-error {
            visibility: visible;
        }
    }

    &__success-msg {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-block: 2rem;
        text-align: center;
        
        .fa-check {
            color: hsl(var(--c-green));
            font-size: 3rem;
        }
    }
}