@use '../utilities' as *;

.app {
    $root: &;

    @include breakpoint('md') {
        padding-block: 2rem;
        padding-left: 2.5rem;
    }

    &__layout-grid {
        display: grid;
        gap: 2.25rem;

        @include breakpoint('md') {
            grid-template-columns: max-content 1fr;
            min-height: 100vh;
        }
    }

    &__main {
        overflow: hidden;
        max-width: 120rem;
        padding-inline: clamp(1rem, -0.428rem + 6.091vw, 2.5rem);

        @include breakpoint('md') {
            padding-right: 0;
        }
    }

    &__search {
        margin-top: 1.8rem;
        margin-bottom: 1.25rem;
    }
}