@use '../utilities' as *;

.home-header {
    $root: &;
    position: fixed;
    width: 100%;
    top: clamp(1.5rem, 0.548rem + 4.061vw, 2.5rem);

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        width: 60px;
    }
}